---
---
.about-the-author--container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 100%;
  padding: 4em 0;

  article {
    h1 {
      margin-bottom: 1em;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
    form {
      label {
        input {
          
        }
        textarea {

        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .about-the-author--container {
  }
}
