---
---
.about-the-author--container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 100%;
  padding: 4em 0;

  article {
    padding: 2em;
    h1 {
      margin-bottom: 1em;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }
}

@media screen and (min-width: 768px) {
  .about-the-author--container {
    grid-template-columns: 50% 50%;
  }
}
