---
---

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-gray-light: #dedede;

section.project-description {
  margin: 4rem auto;
  padding-left: 70px;
  padding-right: 70px;
  h1 {
    font-size: 2.8em;
    font-weight: 500;
    margin-bottom: .5em;
  }
  h2 {
    color: #fb263b;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: .75em;
    margin-top: .4em;
  }
  img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .project-intro {
    .project-intro__facts {
      padding: 0.5em;
      background-color: $color-gray-light;
    }
    .project-intro__text {
      padding-top: 3.3em;
      font-size: 1.2em;
      p {
      }
    }
    .fact-box {
      //border: 2px solid;
      //color: #fb263b;
      //line-height: 1.2;
      //margin: 0;
      //width: 100%;
    }
  }
}
