---
---
{% include projects-description-layout.html %}
{% include navigation-menu.html %}

  <section class="project-description">
    <div class="container-fluid">
      <div class="row row-column">
        <h1>Assembla</h1>
        <h2>Notes from 2.0 version</h2>
        <img class="project-tile__image" src="../assets/Report_assembla.jpg" alt="report">
      </div>

<div class="row">
    <div class="project-intro">
    <div class="project-intro__facts">
        <p>My role: UX, UI, CSS, HTML</p>
        <p>Duration: more than 1 month</p>
    </div>
    <div class="project-intro__text">
      <p>I joined Assembla in the middle of 2016, and it was acquired that time by Scaleworks.</p>
      <p>Initially, the first round of research was to identify the user needs and chances to grow as a product. US and Polish teams were conducting interviews, using metrics tools to track user behavior. I participated in the every step of the process:
      <ol>
        <li>Formulating all the dependencies between business and users.
        </li>
        <li>Interviewing users to understand their needs.
        </li>
        <li>Concepts ideation. Documentation of existing tools.
        </li>
        <li>Preparing roadmap containing upcoming improvements.
        </li>
        <br><p class="example">Example: One of the most important improvements was invitating to the team. Based on the user feedback, I prepared <a href="https://xd.adobe.com/view/53684a96-bd1b-4861-83b8-055f09c35df3/" target="blank">a clickable prototype</a>, <a href="../assets/space-team.pdf" target="blank">PDF doc</a>, and finally <a href="https://raw.githack.com/bartekbart/components/master/draft_quick_invite_general_view_ticket_assigned.html" target="blank">working prototype</a>.</p>
        <br><p>Below is the documentation of features I developed.</p>
    </div>
  </div>
</div>

  <div class="row">
    <p></p>
  </div>

    <div class="row">
      <div class="button button-center">
        <a href="../assets/report_assembla_2.0.pdf?pdf=Assembla_pdf" target="blank">View documentation of the 2nd version</a>
      </div>
    </div>

    </div>
  </section>

  <script src="../js/nav-cta.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="../js/overlaying.js"></script>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LRZDSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>

</html>
