---
---
{% include projects-description-layout.html %}
{% include navigation-menu.html %}

  <section class="project-description">
    <div class="container-fluid">
      <div class="row row-column">
        <h1>KatoBot</h1>
        <h2>Chatbot Design presentation</h2>
        <img class="project-tile__image" src="../assets/hackone_01.jpg" alt="exhibition">
      </div>

<div class="row">
    <div class="project-intro">
    <div class="project-intro__facts">
      <table class="fact-box">
        <tbody>
              <tr class="fact-box__item ">
                  <th scope="row" class="fact-box__key" rowspan="2">
                    My role
                  </th>
                <td class="fact-box__value">
                    <a href="/services/digital-products-and-services">UX</a>
                </td>
              </tr>
              <tr class="fact-box__item fact-box__item--sibling">

              </tr>
              <tr class="fact-box__item ">
                  <th scope="row" class="fact-box__key" rowspan="1">
                    Duration
                  </th>
                <td class="fact-box__value">
                    <p>24h</p>

                </td>
              </tr>
              <tr class="fact-box__item ">
                  <th scope="row" class="fact-box__key" rowspan="1">
                    Team
                  </th>
                <td class="fact-box__value">
                    <p>4 people</p>
                </td>
              </tr>
        </tbody>
      </table>
    </div>
    <div class="project-intro__text">
      <p>Description soon</p>
      <img src="../assets/chatbot_design.gif"></img>
    </div>
  </div>
</div>
    </div>
  </section>

  <script src="../js/nav-cta.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="../js/overlaying.js"></script>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LRZDSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>

</html>
