---
---
{% include projects-description-layout.html %}
{% include navigation-menu.html %}

  <section class="project-description">
    <div class="container-fluid">
      <div class="row row-column">
        <h1>Inbox viewer</h1>
        <h2>Documentation</h2>
        <img class="project-tile__image" src="../assets/inbox/Inbox.jpg" alt="exhibition">
      </div>

<div class="row">
    <div class="project-intro">
        <div class="project-intro__facts">
            <p>My role: UX (field studies, personas, user stories), UI, CSS, HTML</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="button button-center">
        <a href="../assets/inbox/Inbox_initial_description.pdf" target="blank">View documentation</a>
    </div>
</div>
<div class="row">
    <div class="project-intro__text">
      <p>Check some links from the documentation:</p>
      <p><a href="https://xd.adobe.com/view/a94263dd-1b09-4e97-4101-a9eef20ccd2f-df73/" target="blank">View message list</a></p>
      <p><a href="https://xd.adobe.com/view/dd5e6d4c-7507-49f9-4478-6cab89c83b68-ab6f/" target="blank">View attachments</a></p>
      <p><a href="https://xd.adobe.com/view/836ab714-65e6-4f1d-5562-b3eda29fb35f-f55b/" target="blank">Modifications</a></p>
      <p><a href="https://xd.adobe.com/view/970b367c-788e-4afc-433b-ffe8a2196763-e13a/" target="blank">Sorting</a></p>
      <p><a href="https://xd.adobe.com/view/50000ff6-f381-4fd4-596d-72b9d23103b4-2631/" target="blank">Channel details</a></p>
     
    </div>
  </div>
</div>

  </section>

  <script src="../js/nav-cta.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="../js/overlaying.js"></script>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LRZDSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>

</html>
