---
---
{% include projects-description-layout.html %}
{% include navigation-menu.html %}

  <section class="project-description">
    <div class="container-fluid">
      <div class="row row-column">
        <h1>Interia</h1>
        <h2>How to convince users to switch to a new email version?</h2>
        <img class="project-tile__image" src="../assets/agh_compressed.jpg" alt="exhibition">
      </div>

    <div class="row">
    <div class="project-intro">
    <div class="project-intro__facts">
      <table class="fact-box">
        <tbody>
              <tr class="fact-box__item ">
                  <th scope="row" class="fact-box__key" rowspan="2">
                    Services
                  </th>
                <td class="fact-box__value">
                    <a href="/services/digital-products-and-services">UX (conducting interviews with users, testing the prototype), prototype in CSS, HTML</a>
                </td>
              </tr>
              <tr class="fact-box__item fact-box__item--sibling">

              </tr>
              <tr class="fact-box__item ">
                  <th scope="row" class="fact-box__key" rowspan="1">
                    Duration
                  </th>
                <td class="fact-box__value">
                    <p>a couple of weeks</p>

                </td>
              </tr>
              <tr class="fact-box__item ">
                  <th scope="row" class="fact-box__key" rowspan="1">
                    The rest of the Team
                  </th>
                <td class="fact-box__value">
                    <p>Two Interia partners</p>
                </td>
              </tr>
        </tbody>
      </table>
    </div>
    <div class="project-intro__text">
      <p>I had a chance to work as a freelancer with Interia on their project about convincing users using the oldest version of their email account to switch to the newest version.</p>
      <p>Starting with the workshop with the client, we identified the users group and their profile.</p>
      <div class="row">
        <div class="two-columns">
          <div><img class="project-tile__image" src="../assets/IMG_0037.JPG" alt="wireframe"></div>
          <div><img class="project-tile__image" src="../assets/IMG_0042.JPG" alt="wireframe"></div>
        </div>
      </div>
      <p>The process was following:</p>
      <ol>
        <li>Formulating all the dependencies between users and business model.
        </li>
        <li>Interviewing existing users. Preparing user profile, using the email oldest version (personas).
        </li>
        <li>Business can obtain reducing server costs and support RWD on mobile devices (new email client), while the oldest version cannot. It was not possible to switch users immediately due to risk, that they could leave the product.
        </li>
        <li>Ideation: possible solutions.
        </li>
        <li>Testing with users on the early stage. <a href="../assets/script_interia_01.pdf" target="blank">Script</a>
        </li>
        <p>I generated two sets of prototypes: progressive morfing and intrusive form of advertisement:</p>
        <p>Morfing:</p>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="four-columns">
      <div><a href="../assets/int02/int_02.png" target="new"><img class="project-tile__image" src="../assets/int02/int_02.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_03.png" target="new"><img class="project-tile__image" src="../assets/int02/int_03.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_04.png" target="new"><img class="project-tile__image" src="../assets/int02/int_04.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_05.png" target="new"><img class="project-tile__image" src="../assets/int02/int_05.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_06.png" target="new"><img class="project-tile__image" src="../assets/int02/int_06.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_07.png" target="new"><img class="project-tile__image" src="../assets/int02/int_07.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_08.png" target="new"><img class="project-tile__image" src="../assets/int02/int_08.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_09.png" target="new"><img class="project-tile__image" src="../assets/int02/int_09.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_10.png" target="new"><img class="project-tile__image" src="../assets/int02/int_10.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_11.png" target="new"><img class="project-tile__image" src="../assets/int02/int_11.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_12.png" target="new"><img class="project-tile__image" src="../assets/int02/int_12.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_13.png" target="new"><img class="project-tile__image" src="../assets/int02/int_13.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_14.png" target="new"><img class="project-tile__image" src="../assets/int02/int_14.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_15.png" target="new"><img class="project-tile__image" src="../assets/int02/int_15.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_16.png" target="new"><img class="project-tile__image" src="../assets/int02/int_16.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_17.png" target="new"><img class="project-tile__image" src="../assets/int02/int_17.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_18.png" target="new"><img class="project-tile__image" src="../assets/int02/int_18.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_19.png" target="new"><img class="project-tile__image" src="../assets/int02/int_19.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_20.png" target="new"><img class="project-tile__image" src="../assets/int02/int_20.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_21.png" target="new"><img class="project-tile__image" src="../assets/int02/int_21.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_22.png" target="new"><img class="project-tile__image" src="../assets/int02/int_22.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_23.png" target="new"><img class="project-tile__image" src="../assets/int02/int_23.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_24.png" target="new"><img class="project-tile__image" src="../assets/int02/int_24.png" alt="wireframe"></a></div>
      <div><a href="../assets/int02/int_25.png" target="new"><img class="project-tile__image" src="../assets/int02/int_25.png" alt="wireframe"></a></div>
    </div>
  </div>
<div class="row">
  <p>Advertisement approach:</p>
</div>
  <div class="row">
    <div class="four-columns">
      <div><a href="../assets/int01/int_01.png" target="new"><img class="project-tile__image" src="../assets/int01/int_01.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_02.png" target="new"><img class="project-tile__image" src="../assets/int01/int_02.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_03.png" target="new"><img class="project-tile__image" src="../assets/int01/int_03.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_04.png" target="new"><img class="project-tile__image" src="../assets/int01/int_04.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_05.png" target="new"><img class="project-tile__image" src="../assets/int01/int_05.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_06.png" target="new"><img class="project-tile__image" src="../assets/int01/int_06.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_07.png" target="new"><img class="project-tile__image" src="../assets/int01/int_07.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_08.png" target="new"><img class="project-tile__image" src="../assets/int01/int_08.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_09.png" target="new"><img class="project-tile__image" src="../assets/int01/int_09.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_10.png" target="new"><img class="project-tile__image" src="../assets/int01/int_10.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_11.png" target="new"><img class="project-tile__image" src="../assets/int01/int_11.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_12.png" target="new"><img class="project-tile__image" src="../assets/int01/int_12.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_13.png" target="new"><img class="project-tile__image" src="../assets/int01/int_13.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_14.png" target="new"><img class="project-tile__image" src="../assets/int01/int_14.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_15.png" target="new"><img class="project-tile__image" src="../assets/int01/int_15.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_16.png" target="new"><img class="project-tile__image" src="../assets/int01/int_16.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_17.png" target="new"><img class="project-tile__image" src="../assets/int01/int_17.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_18.png" target="new"><img class="project-tile__image" src="../assets/int01/int_18.png" alt="wireframe"></a></div>
      <div><a href="../assets/int01/int_19.png" target="new"><img class="project-tile__image" src="../assets/int01/int_19.png" alt="wireframe"></a></div>
    </div>
  </div>

<div class="row row-column">
  <p>On the early stage, after first tests using IDI the first approach was much less intrusing.</p>
  <p>Users were not interested to intentionally change their email version based on their habits</p>
  <a href="../assets/script_interia_02.pdf" target="blank">Second script to validate the morfing approach.</a>
  <a href="https://rawgit.com/bartek-skrzyczek/interia/master/starter.htm" target="blank">CSS & HTML prototype</a>
  <a href="https://www.youtube.com/watch?v=5xsm1E_QE8o&feature=youtu.be" target="blank">Recording from testing</a>
</div>

    <div class="row">
      <div class="button button-center">
        <a href="../assets/prezentacja_AGH.pdf" target="blank">View final report</a>
      </div>
    </div>

    </div>
  </section>

  <script src="../js/nav-cta.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="../js/overlaying.js"></script>

</body>

</html>
