---
---
{% include projects-description-layout.html %}
{% include navigation-menu.html %}

  <section class="project-description">
    <div class="container-fluid">
      <div class="row row-column">
        <h1>One stadium, two opposite teams</h1>
        <h2>Documentation from the project dedicated the abandoned stadium</h2>
        <img class="project-tile__image" src="../assets/exhibition_compressed.jpg" alt="stadium">
      </div>

<div class="row">
    <div class="project-intro">
    <div class="project-intro__facts">
        <p>My role: UX, UI, CSS, HTML</p>
        <p>Duration: more than 1 month</p>
    </div>
    <div class="project-intro__text">
      <p>"These stadiums, the same as people: are growing up and bury".</p>
      <p>Marian Lubina</p>
    </div>
  </div>
</div>

  <div class="row">
    <p>I first noticed the abandoned Gwardia stadium in the 2013. I could not believe my eyes: in the city centre of Katowice the look was very depressive.</p>
  </div>

    <div class="row">
      <div class="button button-center">
        <a href="../assets/report_assembla_2.0.pdf?pdf=Assembla_pdf" target="blank">View documentation of the 2nd version</a>
      </div>
    </div>

    </div>
  </section>

  <script src="../js/nav-cta.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="../js/overlaying.js"></script>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LRZDSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>

</html>
