---
---
{% include projects-description-layout.html %}
{% include navigation-menu.html %}

  <section class="project-description">
    <div class="container-fluid">
      <div class="row row-column">
        <h1>UX Jam, 2019</h1>
        <h2>Following of mindless trends</h2>
        <img class="project-tile__image" src="../assets/ux-jam/cover.JPG" alt="report">
      </div>

<div class="row">
    <div class="project-intro">
    <div class="project-intro__facts">
        <p>My role: UX</p>
        <p>Duration: 48h</p>
        <p>Team: 4 people</p>
    </div>
  </div>
</div>

    <div class="row">
      <div class="button button-center">
        <a href="https://submit.globaljams.org/gallery/WBRYmgrj/pyQrYWom?search=4801a36e94ca568f-1" target="blank">Read about the project</a>
      </div>
    </div>

    </div>
  </section>

  <script src="../js/nav-cta.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="../js/overlaying.js"></script>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LRZDSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>

</html>
