---
---
{% include head.html %}
{% include navigation-menu.html %}

  <section class="main grid">
    <div class="row">
      <h1>Howdy! With background in Fine Arts, I am now driven by people and technology.</h1>
    </div>
    <div class="row">
      <div class="featured-projects-block__list">
        <div class="featured-projects-block__item">
          <div class="content">
            <a href="/projects/red-bull-tv" class="project-tile  project-tile--tall">
              <figure class="project-tile__figure" role="group">
                <img class="project-tile__image" src="../assets/breath-app.jpg" alt="exhibition">
                <figcaption class="project-tile__overlay">
                  <div class="project-tile__meta">
                    <span class="project-tile__title">
                      Breath App
                    </span>
                    <p class="project-tile__description">
                      Design mobile app with distinction on the Hack Silesia 2016
                    </p>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="featured-projects-block__item">
          <div class="content">
            <a href="/projects/red-bull-tv" class="project-tile  project-tile--tall">
              <figure class="project-tile__figure" role="group">
                <img class="project-tile__image" src="../assets/ecvc_compressed.jpg" alt="exhibition">
                <figcaption class="project-tile__overlay">
                  <div class="project-tile__meta">
                    <span class="project-tile__title">
                      Assembla Landing Page
                    </span>
                    <p class="project-tile__description">
                      Building a website about Code Management
                    </p>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <div class="featured-projects-block__item">
          <div class="content">
            <a href="/projects/red-bull-tv" class="project-tile  project-tile--tall">
              <figure class="project-tile__figure" role="group">
                <img class="project-tile__image" src="../assets/exhibition_compressed.jpg" alt="exhibition">

                <figcaption class="project-tile__overlay">
                  <div class="project-tile__meta">
                    <span class="project-tile__title">
                      Individual art exhibition
                    </span>
                    <p class="project-tile__description">
                      Roundabout Art Gallery, 2015
                    </p>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      <div class="featured-projects-block__item">
        <div class="content">
          <a href="/projects/red-bull-tv" class="project-tile  project-tile--tall">
            <figure class="project-tile__figure" role="group">
              <img class="project-tile__image" src="../assets/agh_compressed.jpg" alt="UX process">
              <figcaption class="project-tile__overlay">
                <div class="project-tile__meta">
                  <span class="project-tile__title">
                    Interia
                  </span>
                  <p class="project-tile__description">
                    How to convince users to switch to a new email version?
                  </p>
                </div>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
      <div class="featured-projects-block__item">
        <div>
          <div class="content">
            <a href="/projects/red-bull-tv" class="project-tile  project-tile--tall">
              <figure class="project-tile__figure" role="group">
                <img class="project-tile__image" src="../assets/Report_assembla.jpg" alt="UX process">
                <figcaption class="project-tile__overlay">
                  <div class="project-tile__meta">
                    <span class="project-tile__title">
                      Assembla
                    </span>
                    <p class="project-tile__description">
                      Notes from 2.0 version
                    </p>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
      <div class="featured-projects-block__more">
        <a class="featured-projects-block__more-link" href="/projects">See more selected works</a>
        <svg fill="#000000" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
          <path d="M0-.25h24v24H0z" fill="none"/>
        </svg>
      </div>
    </div>
  </div>
</section>

<section class="description">
  <div class="row">
    <h2>I stay focused on learning technology, understanding business goals and end user behaviour to solve issues.</h2>
  </div>

  <div class="row">
    <div class="tabs">
      <button class="tab-header tab-active" onclick="changeTag(event,'technology')">
        <div>
        <div class="tab-header__name">
          <div class="tab-header__icon">
            <svg height="48" viewBox="0 0 24 20" width="48" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0V0z" fill="none"></path>
              <path d="M23 11.01L18 11c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h5c.55 0 1-.45 1-1v-9c0-.55-.45-.99-1-.99zM23 20h-5v-7h5v7zM20 2H2C.89 2 0 2.89 0 4v12c0 1.1.89 2 2 2h7v2H7v2h8v-2h-2v-2h2v-2H2V4h18v5h2V4c0-1.11-.9-2-2-2zm-8.03 7L11 6l-.97 3H7l2.47 1.76-.94 2.91 2.47-1.8 2.47 1.8-.94-2.91L15 9h-3.03z"></path>
            </svg>
          </div>
          <h2 class="tab-header__title">Technology</h2>
        </div>
        <div class="tab-header__desc">Kodowanie na podstawie projektu graficznego, responsywność, optymalizacja SEO, wdrożenia CMS.</div>
      </div>
      </button>
      <article id="technology" class="tab-content">
        <div class="tab-content__section">
          <h3 class="tab-content__header">HTML i CSS</h3>
          <ul class="u-list">
            <li class="u-list__item">Standard HTML5 oraz CCS3</li>
            <li class="u-list__item">Semantyka (SEO-friendly)</li>
            <li class="u-list__item">Responsive Web Design (RWD)</li>
            <li class="u-list__item">Mobile-first</li>
            <li class="u-list__item">Metodologie BEM i SMACSS</li>
            <li class="u-list__item">Preprocesory: Sass oraz Pug</li>
          </ul>
        </div>
        <div class="tab-content__section">
          <h3 class="tab-content__header">Javascript</h3>
          <ul class="u-list">
            <li class="u-list__item">JavaScript &amp; ES6</li>
            <li class="u-list__item">Doświadczenie z jQuery</li>
            <li class="u-list__item">W trakcie nauki VueJS</li>
          </ul>
        </div>
        <div class="tab-content__section">
          <h3 class="tab-content__header">Inne</h3>
          <ul class="u-list">
            <li class="u-list__item">Gulp, Bower, NPM</li>
            <li class="u-list__item">Doświadczenie z frameworkami</li>
            <li class="u-list__item">Doświadczenie z CMS: Wordpress, OpenCart</li>
            <li class="u-list__item">XML, XSLT</li>
          </ul>
        </div>
      </article>
      <button class="tab-header" onclick="changeTag(event,'design')">
        <div>
        <div class="tab-header__name">
          <div class="tab-header__icon">
            <svg height="48" viewBox="0 0 24 20" width="48" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M20.5 11H19V7c0-1.1-.9-2-2-2h-4V3.5C13 2.12 11.88 1 10.5 1S8 2.12 8 3.5V5H4c-1.1 0-1.99.9-1.99 2v3.8H3.5c1.49 0 2.7 1.21 2.7 2.7s-1.21 2.7-2.7 2.7H2V20c0 1.1.9 2 2 2h3.8v-1.5c0-1.49 1.21-2.7 2.7-2.7 1.49 0 2.7 1.21 2.7 2.7V22H17c1.1 0 2-.9 2-2v-4h1.5c1.38 0 2.5-1.12 2.5-2.5S21.88 11 20.5 11z"></path>
            </svg>
          </div>
          <h2 class="tab-header__title">Design</h2>
        </div>
        <div class="tab-header__desc">Znajomość podstaw programowania obiektowego oraz doświadczenie z relacyjnymi bazami danych.</div>
      </div>
      </button>
      <article id="design" class="tab-content">
        <div class="tab-content__section">
          <h3 class="tab-content__header">Programowanie</h3>
          <ul class="u-list">
            <li class="u-list__item">Podstawy PHP (kilka projektów)</li>
            <li class="u-list__item">Podstawy Pythona</li>
            <li class="u-list__item">MVC, OOP</li>
          </ul>
        </div>
        <div class="tab-content__section">
          <h3 class="tab-content__header">Bazy danych</h3>
          <ul class="u-list">
            <li class="u-list__item">Dobra znajomość&nbsp;SQL</li>
            <li class="u-list__item">Doświadczenie z MariaDB</li>
            <li class="u-list__item">Doświadczenie z relacyjnymi bazami danych</li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>

  <script src="../js/nav-cta.js"></script>
  <script src="../js/overlay.js"></script>
  <script src="../js/overlaying.js"></script>
  <script src="../js/masonry.js"></script>
  <script src="../js/tabs.js"></script>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LRZDSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>

</html>
