<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119759201-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119759201-1');
  </script>

  <!-- Hotjar Tracking Code for https://bartek-skrzyczek.github.io/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:915924,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="author" href="#">
  <link rel="icon" href="#">
  <link rel="sitemap" href="#">
  <meta property="image" content="#">
  <meta name="author" content="Bartek Skrzyczek">
  <meta property="description" content="Portfolio: exemplary works">
  <meta property="og:site_name" content="Bartek Skrzyczek's Homepage">
  <meta property="og:url" content="#">
  <meta property="og:title" content="Comandeer's Homepage">
  <meta property="og:description" content="Portfolio: exemplary works">
  <meta property="og:image" content="#">
  <meta property="og:image:width" content="#">
  <meta property="og:image:height" content="#">
  <title property="name">Bartek Skrzyczek Portfolio</title>

  <link rel="stylesheet" href="/css/reboot.css" integrity="">
  <link rel="stylesheet" href="/css/layout.css" integrity="">
  <link rel="stylesheet" href="/css/index.css" integrity="">
  <link rel="stylesheet" href="/css/animation.css" integrity="">
  <link rel="stylesheet" href="/css/about.css" integrity="">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>

</head>

{{ content }}
