<body>
  <header>
    <div class="alert alert-secondary" role="alert">
      This page is currently under construction.
    </div>
    <nav>
      <div class="navigation-row">
        <ul class="logo-wrapper">
          <li>
            <a class="home-page" href="https://bartek-skrzyczek.github.io/">
              <i class="fas fa-home margin-right-5"></i>
                bartekskrzyczek portfolio
            </a>
          </li>
        </ul>
        <ul class="main-nav">
          <li>
            <a href="#profile">
              <i class="fas fa-address-card margin-right-5"></i>
                My profile
            </a>
          </li>
          <li>
            <a href="https://github.com/bartek-skrzyczek?tab=repositories" target="_blank">
              <i class="fab fa-github margin-right-5"></i>
                Github
            </a>
          </li>
          <li>
            <a href="https://www.behance.net/bartekskrzyczek" target="_blank">
              <i class="fab fa-behance margin-right-5"></i>
                Behance
            </a>
          </li>
          <li>
            <a href="#contact">
              <i class="fas fa-address-book margin-right-5"></i>
              Contact
            </a>
          </li>
        </ul>

        <div id="myNav" class="overlay">
          <div class="overlay-content">
            <a href="#">About</a>
            <a class="cursor-not-allowed" href="#">Projects</a>
            <a class="cursor-not-allowed" href="#">Blog</a>
            <a href="#contact">Contact</a>
          </div>
        </div>

        <div class="hamburger-wrapper">
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </nav>
  </header>
